<a href="https://colab.research.google.com/github/effectusMOA/Factory/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers=[[1,2,3],[10,20,30],[100,200,300]]
for i in range(len(numbers)):
  for j in range(len(numbers[i])):
    print(numbers[i][j])

In [3]:
import random
randnum=random.randrange(0,100)
while(randnum<90):
  print(randnum)
  randnum = random.randrange(0,100)

1
14
29

In [4]:
def addNumber(number1,number2):
  total=number1+number2
  return total
print(addNumber(0,1))

1

In [5]:
name="강재윤"
myclass="학생"
mystartingyear=2019
print(f"나는 {name}이고, 숭실대학교 {myclass}입니다. {mystartingyear}년 부터 숭실대에서 공부합니다.")

나는 강재윤이고, 숭실대학교 학생입니다. 2019년 부터 숭실대에서 공부합니다.

In [6]:
a="abc,efd,awef,dse,wfq"
a.split(",")

['abc', 'efd', 'awef', 'dse', 'wfq']

In [7]:
test_file=open(".\test.txt","w")

In [8]:
print(test_file.name)

.	est.txt

In [9]:
test_file.write("안녕하세요?")

6

In [10]:
test_file.close()

In [11]:
test_file=open(".\test.txt","r")
text_in_file=test_file.read()
print(text_in_file)
test_file.close()

안녕하세요?

In [12]:
import os
os.remove(".\test.txt")

In [28]:
class Student:
  """학생 정보에 관한 클래스입니다"""
  __name=""
  __id=0

  def __init__(self,name,id):
    self.__name=name
    self.__id=id
    
  def set_name(self,name):
    self.__name=name

  def set_id(self,id):
    self.__id=id

  def get_name(self,name):
    return self.__name
  
  def get_id(self,id):
    return self.__id

  def get_type(self):
    print("Student")

  def toString(self):
    return f"학생 {self.__name}은 학번이 {self.__id}입니다. "

In [21]:
jaeyun=Student("강재윤",20192885)

In [29]:
jaeyun.toString()

AttributeError: ignored

In [32]:
str_list=[str(item) for item in list_sample_2]
str_list

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [30]:
list_sample_2=[i for i in range(10)]

In [34]:
num_dict = {1:100,2:200,3:300,4:400}
num_dict_filter={k:v for k, v in num_dict.items() if k%2 ==0}
num_dict_filter

{2: 200, 4: 400}